disappearing "//"

```
>>> u=URI("ws://localhost:8080/blabla")
>>> str(u)
'ws:localhost:8080/blabla'
>>> u.uri
'ws:localhost:8080/blabla'
```

Notice, the "//" are gone.

This is a completely different URI that will not work 


BTW pip list:
```
uri               2.0.1
```

Howdy!

`ws` is not a core registered URL scheme in the currently available production release. You can resolve this in two ways: [install the development version from GitHub](https://github.com/marrow/uri#development-version), or, register the scheme manually yourself. This is due to an odd historical difference between true URI and URL-like URI. (:shakes an impotent fist at history:)

Easiest and safest would be to _imperatively_ register the scheme, [ref](https://github.com/marrow/uri#schemes). Have the following executed at the start of your application. (Preferably not at the module level as an import-time side-effect, but rather as part of some more formal start-up process.)

<details open><summary>Explicitly register the <code>ws</code> scheme as a <code>URLScheme</code>; one separated using <code>://</code> not just <code>:</code>.</summary>

```python
from uri.scheme import URLScheme
from uri.part.scheme import SchemePart

SchemePart.registry['ws'] = URLScheme('ws')
```
</details>

If this answers your question and resolves your problem, feel free to close the issue. If you have further questions, do not hesitate to ask! We're also in `#marrow` on Libera IRC (`ircs://irc.libera.chat:6697/marrow`) if you'd like to chat. 🙂

[Edited to add link to development installation instructions.]

@amcgregor thanks for the quick response.

registering the schemepart is not an option because it is used in many different, independent places in the code and also in user code. My code is no "application" but  a toolbox.

Can I pip install your develop version? Then I can recommend users also to use that specific version.

As I understand it, URI's scheme is just a bunch of characters, as in https://datatracker.ietf.org/doc/html/rfc3986 section 3.1 

``` scheme      = ALPHA *( ALPHA / DIGIT / "+" / "-" / "." )```

[This page goes into some details on a few ways to install from Git](https://adamj.eu/tech/2019/03/11/pip-install-from-a-git-repository/), related caveats, and so forth. You can also include Git checkouts in your `pip freeze` generated `requirements.txt`. The next revision released (current `develop` branch) will contain `ws` [pre-registered](https://github.com/marrow/uri/blob/develop/setup.py?ts=4#L151), and will be released once I get through mypy-ifying it.

Indeed, schemes are just that, however the `//` distinction isn't part of the [URI specification](https://www.rfc-editor.org/info/rfc3986). (Won't find `//` on the page.) It's specifically a [_URL_ feature](https://www.rfc-editor.org/rfc/rfc1738.html#section-3.1). It's a particular distinction for very specific URI schemes, such as `http` due to the legacy of that specification. For a browser-based example, `file:` URI can also access web pages (on your local computer), but does not contain // as a separator, e.g.: `file:/Users/amcgregor/index.html`

Ah yes, maybe I can install that from git. Good idea. 

When is the develop version going to be released as official? 

>however the // distinction isn't part of the URI specification.

Are you sure? I see this
```
URI         = scheme ":" hier-part [ "?" query ] [ "#" fragment ]

      hier-part   = "//" authority path-abempty
                  / path-absolute
                  / path-rootless
                  / path-empty
```
so if you need the authority (which contains the host port etc) you must have it
```
      authority   = [ userinfo "@" ] host [ ":" port ]
```

Ah! Quite so, I appear to have been misusing my browser's search. Apologies. 😖

I'll need to look into the test cases to see [what might break due to an alteration of the current assumptions](https://github.com/marrow/uri/blob/develop/test/test_uri.py#L9). There may be an over-broad interpretation of "authority" being applied. 🤔 Again, this seems to vary by scheme. `tel:+1-816-555-1212` — is the phone number the authority, or the path? Currently assumed to be the *entirety* of the `heir-part`. Because, in these types of cases (see also: `isbn`) there simply is no authority.

From [RFC1738§3.1](https://www.rfc-editor.org/rfc/rfc1738.html#section-3.1) for **URL** (not URI) referencing the `//` notation:

> While the syntax for the rest of the URL may vary depending on the particular scheme selected, URL schemes that involve the direct use of an IP-based protocol to a specified host on the Internet use a common syntax for the scheme-specific data…

This… is difficult to "know" accurately. There is [some existing utilization of port inference](https://github.com/marrow/uri/blob/develop/uri/uri.py?ts=4#L87-L90) in the "from WSGI environment" code path which I have been meaning to incorporate more generally into `PortPart` ("don't render if default for the scheme"), and I do suppose this could be used to identify such "IP-based protocols"…

That externalizes the problem of updates, though it only changes the nature of the answer to these questions a bit. 😉 (Then it'd be: update your `/etc/services` or imperatively register.)

Ah, additional note: `ws` and `wss` (WebSockets over HTTPS) are not registered in my macOS `/etc/services` file, nor are they officially registered [IANA-approved service names](https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.csv). So that wouldn't actually help in this scenario.

>don't render if default for the scheme

I would expect the default behaviour of rendering to be such that it shows what was put in.

So if I were to use u=URI("http://localhost:80") then I would expect str(u) to include the port number, even though it is the default. (Edit: maybe str should be the pretty print without 80, while repr(u) would include the port number)

Also it seems to me that assigning default ports to schemes is optional. But you would have to read the fine prints of the spec here. 

>tel:+1-816-555-1212 — is the phone number the authority

With URI It can't be the authority because there must be // in front of an authority.



ws and wss are initialized as http(s), and then upgraded after the http(s) is established. I think they keep the initial port numbers. That may explain why they are not in the services file. 

@amcgregor  Just to let you know that using uri-3.0.0 from develop solved my issue :-)

**Glad to hear it!** A final note for posterity and completeness as I close this issue; the default URL-like registrations are static package metadata, ["entry_points" registered plugins](https://github.com/marrow/uri/blob/develop/setup.py?ts=4#L96-L155). Shared previously as:

> The next revision released (current `develop` branch) will contain `ws` [pre-registered](https://github.com/marrow/uri/blob/develop/setup.py?ts=4#L151)…

This is the alternative to imperative registration and does not require any code be executed at runtime to operate. So long as your package (or any one registering the custom entry point) is installed, the registration is "alive". It is described in the README section previously linked, with that registration being the `setup.py` link shared just above.

> The declaration of which schemes are URL-like (featuring a :// double-slashed separator) is based on Python's `entry_points` plugin registry mapping scheme names to the `Scheme` objects used to handle them. If a scheme renders URI-like when your application requires URL-like, you can [utilize package metadata](https://packaging.python.org/guides/creating-and-discovering-plugins/#using-package-metadata) to register additional mappings.

As I looked into this, I'm beginning to oddly feel less grand about including `ws` in the next revision, given it is not approved. :grumbles something about practicality beating purity:

---

> Also it seems to me that assigning default ports to schemes is optional. But you would have to read the fine prints of the spec here.

That's the sticking point. If there **is** a default port (`/etc/services`) then it's a network-based protocol suitable (according to the URL specification) for `://` separation. If it does not have a default port (i.e. can't be looked up) then it is not internet protocol based (e.g. `tel:`, `isbn:`, so forth), and should not have `://` separation—according to URL.

For it to be present in `/etc/services` and even have a default port, it **must** be IANA approved—_actually registered_—not just _hypothetically_ registered by de-facto use. Generally, negotiated sub-protocols over another channel are not given approval as distinct schemes—WebSockets being HTTP, as you've noted.

Can't have "what service is 80?" come back "HTTP! Well, or, …"  Lastly, it is curious to me how WebSockets really demonstrate they were trying to reinvent everything Not Invented Here™ by coming up with a completely "new" scheme, rather than _extending_ the existing one to represent that encapsulation, e.g. `http+ws://` or `https+ws://` — seems a touch greedy. And completely unnecessary to exist in the first place, which may also be a contributing factor to its unofficial status. 😉